.container{
  display: flex;
  gap:100px;
}

.textContainer{
  flex: 1;
  flex-direction: column;
  gap: 50px;
}
.desc{
  font-size: 20px;
}
.title{
  font-size: 60px;
  margin-bottom: 10px;
}
.buttons{
  display: flex;
  gap:20px;
}
.button{
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.button:first-child{
  background-color: var(--btnbg);
  color:var(--text);
}
.brands{
  position: relative;
  filter: grayscale(1);
}
.imgContainer{
  flex: 1;
  position: relative;
}